# MongoDB
MONGO_URL=mongodb://localhost:27017

# MySQL
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password

# 知乎登录信息
ZHIHU_USERNAME=your_zhihu_username
ZHIHU_PASSWORD=your_zhihu_password

# 知乎cookies(JSON 格式，注意双引号)
ZHIHU_LIST_COOKIES={"z_c0": "your_z_c0", "d_c0": "your_d_c0"}
ZHIHU_DETAIL_COOKIES={"z_c0": "your_z_c0", "d_c0": "your_d_c0"}